meta-sanctum.wiki/
TODO.sh
*.csv
# test artifacts
rauc-info.txt
rauc-status-after.txt
rauc-status-before.txt
# python
*.pyc
.venv
# bitbake setup
.bitbake*
# Upstream sources
sources/*
site.conf-backup*
# Build directories
build-*/
build/
# upgrade logs
scripts/upgrade_logs/